<h2>My Cart</h2>

<div class="mb-4">
  <% if @cart.empty? %>
    <p>Add something you want to buy</p>
  <% else %>
    <div class="list-group">
      <% @cart.each do |order| %>
        <div class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
          <div class="d-flex flex-row bd-highlight">
            <div class="p-2 bd-highlight"><%= order.product.name %></div>
            <div class="me-auto p-2 bd-highlight">$<%= order.price %></div>
            <div class="p-2 bd-highlight"><%= link_to 'Pay', order, class: "btn btn-primary" %></div>
            <div class="p-2 bd-highlight"><%= link_to 'Cancel', order, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to 'Back', root_path %>
