<p><%= notice %></p>

<h1>Pay</h1>

<p>Product name: <%= @order.product.name %></p>
<p>Quantity: <%= @order.quantity %></p>
<p>Cost: $<%= @order.price %></p>

<%= form_with model: @order, url: order_path(@order), method: :patch do |form| %>
  <%= form.hidden_field :product_id, value: @order.product.id %>
  <%= form.hidden_field :quantity, value: @order.quantity %>
  <%= form.hidden_field :price, value: @order.price %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="mb-4">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_area :address, size: "1x2", class: "form-control", required: "required" %>
  </div>
  <div class="mb-4 row row-cols-lg-auto g-2 align-items-center">
    <%= form.label "phone:", class: "form-label" %>
    <div class="col-12">
      <%= form.text_field :phone, class: "form-control" %>
    </div>
  </div>
  <h4>Delivery</h4>
  <div class="mb-4">
    <%= form.radio_button :delivery, 'normal', class: "btn-check", id: "option1", required: "required" %>
    <%= form.label :normal, class: "btn btn-dark", for: "option1" %>
    <%= form.radio_button :delivery, 'express', class: "btn-check", id: "option2" %>
    <%= form.label :express, class: "btn btn-secondary", for: "option2" %>
  </div>
  <div class="actions mb-4">
    <%= form.submit "Pay Now", class: "btn btn-warning" %>
  </div>
<% end %>


<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
