<h2 class="mb-4">My Orders</h2>

<div class="container">
  <ul class="nav nav-pills mb-4">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#all">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#send">To Send</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#receive">To Receive</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#rate">To Rate</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane container active" id="all">
      <div class="mb-4">
        <% if @orders.empty? %>
          <p>Buy somethings larh</p>
        <% else %>
          <div class="list-group">
            <% @orders.each do |order| %>
              <div class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
                <div class="d-flex flex-row bd-highlight">
                  <div class="p-2 bd-highlight"><%= order.product.name %></div>
                  <div class="me-auto p-2 bd-highlight">$<%= order.price %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Show', order, class: "btn btn-primary" %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane container fade" id="send">
      <div class="mb-4">
        <% if @orders_send.empty? %>
          <p>Buy somethings larh</p>
        <% else %>
          <div class="list-group">
            <% @orders_send.each do |order| %>
              <div class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
                <div class="d-flex flex-row bd-highlight">
                  <div class="p-2 bd-highlight"><%= order.product.name %></div>
                  <div class="me-auto p-2 bd-highlight">$<%= order.price %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Show', order, class: "btn btn-primary" %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane container fade" id="receive">
      <div class="mb-4">
        <% if @orders_receive.empty? %>
          <p>Call the seller send larh</p>
        <% else %>
          <div class="list-group">
            <% @orders_receive.each do |order| %>
              <div class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
                <div class="d-flex flex-row bd-highlight">
                  <div class="p-2 bd-highlight"><%= order.product.name %></div>
                  <div class="me-auto p-2 bd-highlight">$<%= order.price %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Show', order, class: "btn btn-primary" %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Receive', order_receive_path(order), class: "btn btn-warning", method: :patch %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane container fade" id="rate">
      <div class="mb-4">
        <% if @orders_rate.empty? %>
          <p>Buy somethings larh</p>
        <% else %>
          <div class="list-group">
            <% @orders_rate.each do |order| %>
              <div class="list-group-item list-group-item-action gap-3 py-3" aria-current="true">
                <div class="d-flex flex-row bd-highlight">
                  <div class="p-2 bd-highlight"><%= order.product.name %></div>
                  <div class="me-auto p-2 bd-highlight">$<%= order.price %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Show', order, class: "btn btn-primary" %></div>
                  <div class="p-2 bd-highlight"><%= link_to 'Rate', new_order_rate_path(order), class: "btn btn-warning" %></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to 'Back', root_path %>
</div>
