<p>
  <strong>Product:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @order.user.username %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @order.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @order.delivery %>
</p>

<div class="mb-4">
  <strong>Item:</strong>
  <% @order_items.each do |order_item| %>
    <% if order_item.quantity.positive? %>
      <div>
        properties <%= order_item.item.properties %>,
        quantity: <%= order_item.quantity %>,
        cost: <%= order_item.cost %>
      </div>
    <% end %>
  <% end %>
</div>

<% if @order.user == current_user && @order.status == 0 %>
  <div class="mb-4">
      <%= link_to 'Pay', edit_order_path(@order), class: "btn btn-warning" %>
  </div>
<% elsif @order.status == 1 && @order.product.shop.user == current_user %>
  <div class="mb-4">
    <%= link_to 'Send', order_send_path(@order), class: "btn btn-warning", method: :patch %>
  </div>
<% elsif @order.status == 2 && @order.user == current_user %>
  <div class="mb-4">
    <%= link_to 'Receive', order_receive_path(@order), class: "btn btn-warning", method: :patch %>
  </div>
<% elsif @order.status == 3 && @order.user == current_user %>
  <div class="mb-4">
    <%= link_to 'Rate', new_order_rate_path(@order), class: "btn btn-primary" %>
  </div>
<% elsif @order.status == 4 && @order.user == current_user %>
  <div class="mb-4">
    <%= link_to 'Edit Rate', edit_order_rate_path(@order, @rate), class: "btn btn-primary" %>
  </div>
<% end %>

<% if @order.product.shop.user == current_user %>
  <%= link_to 'Back', shops_manage_path %>
<% else %>
  <%= link_to 'Back', orders_path %>
<% end %>
