<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @order.product.name %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @order.user.username %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @status %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @order.delivery %>
</p>

<% if @order.user == current_user && @order.status == 0 %>
  <div class="mb-4">
      <%= link_to 'Pay', edit_order_path(@order), class: "btn btn-warning" %>
  </div>
<% elsif @order.product.shop.user == current_user %>
  <div class="mb-4">
    <%= link_to 'Send', edit_order_path(@order), class: "btn btn-warning" %>
  </div>
<% end %>
<%= link_to 'Back', orders_path %>

