<!DOCTYPE html>
<html>
  <head>
    <title>Blog4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="banner"> 
      <h1>My Blogs</h1>
    </div>
    <div id="left-panel">
      <% if current_user %>
        <%= current_user.username %>Logged in.<br/>
        <%= link_to 'Logout', logout_users_path %>
      <% else %>
        Please <%= link_to 'Login', login_users_path %>
      <% end %>
      Left Panel
    </div>

    <div id="main-panel">
      <%= yield %>
    </div>
    <div id="footer">
      Copyright alvin &copy; 2021
    </div>
  </body>
</html>
