<!DOCTYPE html>
<html>
  <head>
    <title>Blog4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="banner">
      <h1> My Blogs IV</h1>
    </div>
  
    <div id="left-panel">
      <% if user_signed_in? %>
        Please <%= link_to 'Logout', destroy_user_session_path, :method => :delete   %>
      <% else %>
        Please <%= link_to 'Login', new_user_session_path %> <br/>
        No Account? <%= link_to 'Register', new_user_registration_path %>
      <% end %>
    </div>

    <div id="main-panel">
      <%= yield %>
    </div>

    <div id="footer">
      Copyright alvin &copy; 2021
    </div>
  </body>
</html>
