<%= form_for [@blog, @blog.comment] do |f| %>
  <p>
    <%= f.label :content, "Edit Comment" %> <br />
    <%= f.text_area :content, rows: 5 %>
  </p>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <p><%= f.submit "Edit Comment" %></p>
<% end %>
