<div class="p-5 mb-4 bg-light rounded-3 row">
  <div class="container-fluid py-5">
    <h4 class="display-5 fw-bold"><%= @shop.name %></h4><br/>
    <p class="col-md-8 fs-4">
      <strong>Owner</strong>: <%= @shop.user.username %>
    </p>
    <br/>
    <% if @is_follow %>
      <%= link_to 'UnFollow', shop_unfollow_path(@shop), class: "btn btn-danger", method: :delete %>
    <%  else  %>
      <%= link_to 'Follow', shop_follow_path(@shop), class: "btn btn-primary", method: :patch %>
    <% end %>
  </div>
</div>

<h4 class="mb-4"><strong>Products</strong></h4>
<div class="mb-4">
  <% @products.each do |product| %>
    <%= render 'product', product: product %>
  <% end %>
</div>

<%= link_to 'Back', root_path %>
