<h2><%= @shop.name %> Details</h2>

<div class="mb-4">
  <p>
    <strong>Name:</strong>
    <%= @shop.name %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @shop.user.username %>
  </p>
</div>

<h2>Products</h2>
<div class="mb-4">
  <% @products.each do |product| %>
    <div>
      <%= link_to product.name, product, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="mb-4">
  <% if @is_follow %>
    <%= link_to 'UnFollow', shop_unfollow_path(@shop), class: "btn btn-danger", method: :delete %>
  <%  else  %>
    <%= link_to 'Follow', shop_follow_path(@shop), class: "btn btn-primary", method: :patch %>
  <% end %>
</div>
<%= link_to 'Back', root_path %>
