<h1>Home</h1>

<%= form_with url: "/", class: "d-flex mb-4", method: :get do |form| %>
  <% form.label :query, "Search for:" %>
  <%= form.text_field :query, class: "form-control me-2", placeholder: "Search" %>
  <%= form.submit "Search", class: "btn btn-outline-success" %>
<% end %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Seller</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.user.username %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>
