<h1>Home</h1>

<%= form_with url: search_path, class: "d-flex mb-4", method: :get do |form| %>
  <%= form.text_field :query, class: "form-control me-2", placeholder: "Search" %>
  <%= form.submit "Search", class: "btn btn-outline-success" %>
<% end %>

<h2>Buy Somethings</h2>
<% @shops.each do |shop| %>
  <div>
    <%= shop.name %>
    <%= shop.user.username %>
    <%= link_to 'Show', shop %>
  </div>
<% end %>
