<h1>Home</h1>

<%= form_with url: "/", class: "d-flex mb-4", method: :get do |form| %>
  <% form.label :query, "Search for:" %>
  <%= form.text_field :query, class: "form-control me-2", placeholder: "Search" %>
  <%= form.submit "Search", class: "btn btn-outline-success" %>
<% end %>

<h2>Buy Somethings</h2>
<% @products.each do |product| %>
  <div>
    <%= product.name %>
    <%= link_to 'Show', product %>
  </div>
<% end %>
