<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: "required" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", required: "required" %>
  </div>

  <div class="mb-4">
    <%= form.label :specification, class: "form-label" %>
    <%= form.text_area :specification, class: "form-control", required: "required" %>
  </div>

  <%= form.hidden_field :shop_id, value: shop.id %>

  <div class="actions mb-4">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
